@import "tailwindcss";

/* Surcharge LightGallery : overlay sur la miniature active */
.lg-thumb-item.active,
.lg-thumb-item:hover {
  border: none !important;
  position: relative;
}
.lg-thumb-item.active::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  pointer-events: none;
  border-radius: 4px;
}
.lg-close {
  color: bg-gray-50 !important;
}

:root {
  --primary-color: #2C5D8A; /* Bleu acier profond */
  --secondary-color-1: rgb(139, 190, 208); /* Vert sauge doux */
  --secondary-color-2: #F3E9D2; /* Beige clair/crème */
  --secondary-color-3: rgb(209, 237, 247); /* Sable doux */
  --accent-wood: #8B5E3C; /* Brun chaleureux */
  --text-primary: #333333; /* Gris très foncé */
  --text-inverse: #FFFFFF; /* Blanc pur */
  --background: linear-gradient(180deg, rgba(44, 93, 138, 0.05) 0%, rgba(159, 195, 160, 0.05) 100%);
  --foreground: var(--text-primary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-marcellus);
  --font-mono: var(--font-marcellus);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a; /* Fond plus foncé que le gris très foncé */
    --foreground: var(--text-inverse); /* Blanc pur pour meilleure lisibilité */
    --primary-color: #4D86B5; /* Bleu acier plus foncé */
    --secondary-color-1: #7FB58B; /* Vert sauge plus foncé */
    --secondary-color-2: #E6D9C4; /* Beige clair plus foncé */
    --accent-wood: #6B442B; /* Brun chaleureux plus foncé */
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-marcellus);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
